* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    cursor: url('../img/leagueCursor.png'),auto;
}
body {
    background-color: rgb(13, 32, 46);
    background-image: url("../img/border.svg"), url("../img/lindalindalinda.jpg");
    background-repeat: no-repeat;
    background-size: 95% 95%, cover;
    background-attachment: fixed;
    background-position: 50%;

    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    color: white;
    overflow: hidden;
}

/* all lists on the page have no styling */
body ul {
    list-style: none;
}
h1{
    position: fixed;
    right: 20%;
    top: 1rem;
    font-weight: 600;
    font-style: italic;
}
h2{
    font-weight: 600;
    font-size:larger;
    font-style: italic;
}
a{
    cursor:url('../img/pointerCursor.png'),auto;
}


/* MAIN PORTFOLIO CONTENT */
.main-content{
    display:flex;
    flex-direction: row;
    width: 74vw;
    height: 85vh;
    position: fixed;
    padding: 4px;
    top: 80px;
    left: 25%;
    margin-bottom: 10px;
    overflow: auto;
    scrollbar-width: none;
}
.left-pieces{
    width:30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-pieces{
    width:70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.piece{
    max-width: 96%;
    background-color: rgba(255,255,255,0.5);
    color: black;
    text-align: right;
}
.big-piece{
    max-width: 96%;
    background-color: rgba(255,255,255,0.5);
    color: black;
    text-align: right;
}

article img{
    max-width: 100%;
    padding:10px;
}
article p{
    padding-right: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 1vw;
}



/* NAV SECTION */
.left-sidebar {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    position:fixed;
    left: 3.5rem;
    top: 7rem;
    padding: 1rem 2rem;
    width:20vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.5vw;
}
.profile-pic{
    width: 100px;
    border-style: solid;
    border-color: white;
    margin: 1rem;
}

/* nav links */
.left-sidebar nav{
    align-self: left;
    padding-top: 1rem;
    padding-bottom: 5rem;
    font-size: 1.7vw;
}
aside li a {
    text-decoration: none;
    color: white;
}
aside li a:visited {
    text-decoration: none;
    color: white;
}

.left-sidebar li{
    padding-bottom: 1rem; /* space out nav links */
}
@keyframes colorChange{
    0%{color:rgb(87, 254, 87);}
    25%{color:rgb(140, 254, 87);}
    50%{color:rgb(212, 254, 87);}
    75%{color:rgb(254, 215, 87);}
    100%{color:rgb(255, 162, 132);}
}
.portfolio-link{
    animation-name: colorChange;
    animation-duration:2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
.contact-buttons{
    display: flex;
    gap: 20px;
}
.contact-buttons img{
    display:inline-block;
    height:40px;
    width:auto;
}



@media only screen and (max-width:1200px){
    h1{
        font-size: 2.5vw;
        top:1.5rem;
    }
    .main-content{
        display:flex;
        flex-direction: column;
        width: 74vw;
        height: 85vh;
        position: fixed;
        padding: 4px;
        top: 80px;
        left: 30%;
    }
    .left-pieces{
        width:90%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .right-pieces{
        width:90%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}
@media only screen and (max-width:700px){
    .left-sidebar{
        left: 1.2rem;
        width: 25vw;
        font-size: larger;
    }
    .left-sidebar nav{
        font-size: 2.3vw;
        padding-bottom: 1rem;
    }
    .left-sidebar li{
        padding-bottom: 2rem; /* space out nav links */
    }

    .contact-buttons img{
        height:4vh;
        width:auto;
    }

}